<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <a class="navbar-brand mr-5" href="#">Info - FrontEnd</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="redirectPage('home')">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="redirectPage('create')">Create</a>
            </li>
        </ul>
    </div>
</nav>